[Unit]
Description=Fan Control Service
After=multi-user.target

[Service]
ExecStart=/usr/lib/fancontrol/fan_control.py
Restart=always
User=root
WorkingDirectory=/usr/lib/fancontrol/
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
